.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 10rem;
}

.img {
  width: 10rem;
  height: auto;
}

.name {
  margin: 0;
}

.description {
  margin: 0;
}

.price {
  margin: 0;
}
