.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 15rem;
}

.img {
  width: 12rem;
  height: 10rem;
}

.name {
  margin: 0;
}

.description {
  margin: 0;
}

.price {
  margin: 0;
}

.btn {
  user-select: none;
  cursor: pointer;
  background-color: #66a3d9;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: 0.25s;
}

.btn:hover {
  transform: scale(0.95);
}
