.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: url("../../assets/bg-contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.375);
  padding: 12.5rem 2rem;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #f2e5bd;
  padding: 3rem 5rem;
}

.heading {
  color: #457abf;
  margin: 0;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.icon {
  width: 2rem;
}

.info_text {
  max-width: 15rem;
  color: #66a3d9;
  font-size: 1.175rem;
  font-weight: 600;
  margin: 0;
}

.small_heading {
  color: #457abf;
}

.times {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
}

.days_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.day {
  flex-grow: 1;
  color: #66a3d9;
  font-size: 1.1rem;
  margin: 0;
}

.hours_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.hours {
  flex-grow: 1;
  color: #66a3d9;
  font-size: 1.1rem;
  margin: 0;
}

@media (max-width: 600px) {
  .page {
    justify-content: center;
  }

  .contact {
    width: 100%;
    padding-inline: 2rem;
  }

  .info_box {
    align-items: center;
    gap: 2rem;
    margin-block: 1rem;
  }

  .info {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}
