.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  margin-bottom: 1rem;
}

.heading {
  margin: 0;
}

.subheading {
  text-transform: capitalize;
  margin: 0;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (max-width: 550px) {
  .page {
    padding: 2rem 1rem;
  }

  .container {
    align-items: center;
  }

  .items {
    justify-content: center;
  }
}
