.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  flex-grow: 1;
  max-width: 27.5rem;
}

.heading {
  margin: 0;
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 3.75rem;
}

.subheading {
  margin: 0;
}

.btn {
  user-select: none;
  cursor: pointer;
  background-color: #66a3d9;
  color: #000000;
  font-size: 0.925rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  transition: 0.25s;
}

.btn:hover {
  transform: scale(0.95);
}

@media (max-width: 700px) {
  .page {
    padding: 3rem 1rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .cart {
    width: 100%;
  }

  .heading {
    align-self: center;
  }

  .subtotal {
    margin-top: 0;
  }
}
