* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: #555555;
  margin: 0;
}

body > div {
  flex-grow: 1;
}
