.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  background-color: rgba(85, 85, 85, 0.75);
  padding: 1rem 2rem;
}

.logo {
  width: 6rem;
  height: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-left: auto;
}

.text_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.icon_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #d9a273;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.link {
  user-select: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.25s;
}

.link:hover {
  transform: scale(0.95);
}

.icon {
  width: 2rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(100%);
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    padding: 2rem;
  }

  .nav {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .nav,
  .text_links {
    flex-direction: column;
  }
}
